:root {
    /* Fontes */
    --fonte-texto: "Lato", sans-serif;
    --fonte-titulo: "Roboto Slab", serif;

    /* Cor card */
    --bg-card: #f0f0f0;

    /* Cor input */
    --cor-borda-input: #AB83A4;

    /*Cores Botão*/
    --cor-botao: #6A0572;
    --cor-texto-botao: #f0f0f0;

    /* Cor Titulo */
    --cor-titulo: #6A0572;
    --cor-borda-titulo: #AB83A4;

    /* Lista */
    --bg-lista-item: #fff;

    /* cor span */
    --color-span-completed: #c0c0c0
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    min-height: 100vh;
    min-width: 100vw;
}

body {

    background: linear-gradient(150deg, #8E44AD, #3498DB);
    background-size: contain;
    background-repeat: no-repeat;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    min-height: 550px;
    max-height: fit-content;
    margin: 190px auto;
    background-color: var(--bg-card);
    border-radius: 16px;
}

.header {
    margin: 0 auto;
    width: fit-content;
}

.logo {
    width: 114px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input__compra {
    margin: 20px 0;
    width: 400px;
    padding: 8px 16px;
    border-radius: 28px;
    border: 1px solid var(--cor-borda-input);
    font-family: var(--fonte-texto);
}

.input__compra:focus {
    outline: none;
}

.btn__adicionar {
    font-family: var(--fonte-titulo);
    margin: 0 auto;
    padding: 8px 16px;
    width: 176px;
    border-radius: 28px;
    border: none;
    background-color: var(--cor-botao);
    color: var(--cor-texto-botao);
    font-size: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-family: var(--fonte-titulo);
    margin: 20px 0px;
    width: 400px;
    padding: 8px 16px;
    text-align: center;
    color: var(--cor-titulo);
    border-bottom: 2px solid var(--cor-borda-input);

}

.texto__cta {
    font-family: var(--fonte-texto);
    width: 400px;
    text-align: center;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lista__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8px;
    width: 400px;
    background-color: var(--bg-lista-item);
    list-style: none;
    border-radius: 12px;
    margin-bottom: 8px;
}

.info__left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__atividade {
    margin-top: 1px;
    margin-right: 12px;
    cursor: pointer;
}

.texto__lista {
    font-family: var(--fonte-texto);
}

.btn__excluir {
    border: none;
    background-color: var(--bg-lista-item);
    cursor: pointer;
    padding: 2px;
}

.atividade__completa {
    text-decoration: line-through;
    color: var(--color-span-completed);
}

@media (max-width: 768px) {
    .container {
        margin: 40px auto;
        max-width: 90%;
    }
    .form,
    .titulo,
    .texto__cta,
    .lista__item {
        max-width: 80%;
    }

    .input__compra {
        max-width: 100%;
    }

}